.btn {
    margin: 5px 0;
    padding: 5px 10px;
    border: 2px solid greenyellow;
    background: transparent;
}
.btn:hover {
    background-color: rgb(189, 214, 97);
    border-color: rgb(86, 134, 12);
    cursor: pointer;
}
.btn:disabled {
    cursor: auto;
    background-color: rgb(219, 219, 219);
    border-color: rgb(163, 161, 161);
}
