.container {
    width: 1080px;
    display: flex;
    justify-content: center;
    margin: 30px;
}
.count {
    font-size: 18px;
}
.btn {
    margin: 20px;
    padding: 5px 10px;
    background: none;
    border: 2px solid greenyellow;
}
.btn:hover {
    border-color: green;
}
